$fontURL: "./fonts/neucha-v12-latin-regular.";
$fontFamily: "Neucha";
$bgApp: rgb(184, 137, 211);
$fontSize: 20px;
$mainColor: white;
$mainBorder: 1px solid $mainColor;
$boldBorder: 3px solid $mainColor;
$detailsColor: rgba(174, 99, 218, 0.89);

@mixin wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin hoverAnimation {
    transition: 0.3s;
    &:hover {
        background-color: $detailsColor;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

.App {
    color: $mainColor;
    font-size: $fontSize;
    font-family: $fontFamily;
    background: $bgApp;
    width: 100%;
    height: 100vh;
}
.main,
.default,
.btns,
.numbers li {
    @include wrap();
}

.btn,
.gameArea td,
.numbers li {
    @include hoverAnimation();
}
.container {
    max-width: 540px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.main {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.default {
    grid-gap: 50px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.btns {
    grid-gap: 30px;
    width: 100%;
}
.btn {
    display: block;
    padding: 15px 0;
    width: 120px;
    border: $mainBorder;
    border-radius: 2px;
    text-decoration: none;
    font-size: 25px;
    color: $mainColor;
    text-align: center;
}
.gameArea {
    width: 100%;
    border-collapse: collapse;
    border: $boldBorder;

    tr:nth-of-type(3n) {
        border-bottom: $boldBorder;
    }
    td {
        width: 50px;
        height: 50px;
        border: $mainBorder;
        cursor: pointer;
        text-align: center;
        &:nth-of-type(3n) {
            border-right-width: 3px;
        }
    }
}
.numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    li {
        border: $mainBorder;
        width: 100%;
        height: 100%;
    }
}
.errors {
    font-size: 25px;
    span {
        font-weight: bold;
    }
}

@font-face {
    font-family: "Neucha";
    font-style: normal;
    font-weight: 400;
    src: url($fontURL + "eot"); /* IE9 Compat Modes */
    src: local("Neucha"), url($fontURL + "eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url($fontURL + "woff2") format("woff2"),
        /* Super Modern Browsers */ url($fontURL + "woff") format("woff"),
        /* Modern Browsers */ url($fontURL + "ttf") format("truetype"),
        /* Safari, Android, iOS */ url($fontURL + "svg#Neucha") format("svg"); /* Legacy iOS */
}
